header {
  width: 100%;
}

.Banner {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 0.05em;
  line-height: 24px;
  padding: 8px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: 1fr 145px 1fr;
  grid-template-rows: 100%;
  padding: 32px;
}

nav > * {
  align-items: center;
  display: inline-flex;
  justify-content: flex-start;
}

.Navigation__left > * {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 18px;
  margin: 0 36px;
  text-transform: capitalize;
}

.Navigation__right {
  justify-content: flex-end;
}

.Navigation__right > * {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 18px;
  margin: 0 20px;
  text-transform: capitalize;
}

.Navigation__location {
  align-items: center;
  display: inline-flex;
  justify-content: flex-start;
}

.Navigation__locationIcon {
  margin-right: 8px;
}

.Hero {
  align-items: center;
  background-color: #E9E9E9;
  display: inline-flex;
  height: 620px;
  justify-content: space-between;
  padding: 95px 180px 65px;
  width: 100%;
}

.Hero > img {
  margin-right: 90px;
}

.Hero__info {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.Hero__infoDescription {
  color: #636363;
  text-align: right;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 140%;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 150%;
}

.Hero__button {
  justify-self: left;
  margin-top: 62px;
}

.Icons {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.IconCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 80px;
}

.IconCard__title {
  margin: 16px 0 8px;
}

.IconCard__Description {
  color: #636363;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 150%;
  text-align: center;
}

.Categories {
  column-gap: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 1fr);
  margin: 0 60px 100px;
  row-gap: 5px;
}

.Categories__card {
  align-items: center;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

.Categories__text {
  align-self: flex-start;
}

.Categories__text > img {
  margin-left: 24px;
}

h4 {
  font-size: 22px;
  letter-spacing: 0.05em;
  line-height: 27px;
  text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.1);
}

.Promo {
  background-color: #FAFAFA;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  margin-bottom: 80px;
}

.Promo__product {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Promo__product > :first-child {
  margin-bottom: 30px;
}

.Promo__paragraph {
  color: #636363;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 150%;
  margin: 14px 0 50px;
  max-width: 220px;
  text-align: center;
}

.PromoPlayard {
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  position: relative;
}

.PromoPlayard__card {
  background-color: white;
  border-radius: 25px;
  height: 310px;
  left: calc(33% - 230px);
  padding: 24px 22px;
  position: absolute;
  top: calc(50% - 155px);
  width: 460px;
}

.PromoPlayard__content {
  align-items: center;
  border-radius: 10px;
  border: 1px solid #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 68px 78px 22px;
}

.PromoPlayard__paragraph {
  color: #636363;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 150%;
  margin-bottom: 54px;
  text-align: center;
  width: 200px;
}

.Testimonials {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 100px auto;
  width: 100%;
}

.Testimonials__box {
  align-items: center;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 40px;
  max-width: 700px;
  padding: 120px 120px 100px;
  text-align: center;
}

q {
  color: #636363;
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 150%;
}

.Testimonials__author {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 150%;
  margin-top: 30px;
  text-align: center;
}

.Social {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px 54px;
}

.Social__babies {
  column-gap: 20px;
  display: grid;
  margin: 40px 0;
  grid-template-areas: 
  "spotlight spotlight . . ."
  "spotlight spotlight . . .";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 50%);
  row-gap: 20px;
}

.Social__baby--spotlight {
  grid-area: spotlight;
}

.Button--round {
  border-radius: 999px;
  padding: 15px;
}

.Cares {
  align-items: center;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 63px;
}

h3 {
  font-size: 25px;
  letter-spacing: 0.05em;
  line-height: 150%;
  text-align: center;
}

.Cares__paragraph {
  color: #636363;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 150%;
  margin: 24px 0 32px;
  max-width: 465px;
  text-align: center;
}

.CareIcon {
  margin: 0 115px 45px;
}

.Awards {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 45px;
  width: 100%;
}

footer {
  background-color: black;
  color: white;
  padding: 92px 62px 35px;
}

.Footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr) auto;
  grid-template-rows: 100%;
  margin-bottom: 32px;
} 

.FooterNavigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: flex-start;
  margin-right: 70px;
}

.FooterNavigation__title {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 18px;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.FooterNavigation__list > * {
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.Newsletter {
  color: white;
}

.Newsletter > * {
  margin-bottom: 18px;
}

.Newsleter__paragraph {
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 150%;
}

.Newsletter__input {
  background-color: black;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 150%;
  width: 100%;
  text-align: right;
}

.Newsletter__input::placeholder {
  color: white;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 150%;
}

.Newsletter__icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100%;
  width: 200px;
}

.FooterEnding {
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 40px;
}

.FooterEnding > :nth-child(2) {
  margin: 0 14px 0 18px;
}

.FooterLink {
  text-decoration: underline;
  cursor: pointer;
}
