header {
  width: 100%;
}

.Banner {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 0.05em;
  line-height: 24px;
  padding: 8px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: 1fr 145px 1fr;
  grid-template-rows: 100%;
  padding: 32px;
}

nav > * {
  align-items: center;
  display: inline-flex;
  justify-content: flex-start;
}

.Navigation__left > * {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 18px;
  margin: 0 36px;
  text-transform: capitalize;
}

.Navigation__right {
  justify-content: flex-end;
}

.Navigation__right > * {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 18px;
  margin: 0 20px;
  text-transform: capitalize;
}

.Navigation__location {
  align-items: center;
  display: inline-flex;
  justify-content: flex-start;
}

.Navigation__locationIcon {
  margin-right: 8px;
}

.Hero {
  align-items: center;
  background-color: #E9E9E9;
  display: inline-flex;
  height: 620px;
  justify-content: space-between;
  padding: 95px 180px 65px;
  width: 100%;
}

.Hero > img {
  margin-right: 90px;
}

.Hero__info {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.Hero__infoDescription {
  color: #636363;
  text-align: right;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 140%;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 150%;
}

.Hero__button {
  justify-self: left;
  margin-top: 62px;
}

.Icons {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.IconCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 80px;
}

.IconCard__title {
  margin: 16px 0 8px;
}

.IconCard__Description {
  color: #636363;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 150%;
  text-align: center;
}

.Cares {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 63px;
}

h3 {
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
}

.Cares__paragraph {
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #636363;
  max-width: 465px;
  margin: 24px 0 32px;
}

.CareIcon {
  margin: 0 115px 45px;
}

.Awards {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 45px;
  width: 100%;
}

footer {
  background-color: black;
  color: white;
  padding: 92px 62px 35px;
}

.Footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr) auto;
  grid-template-rows: 100%;
  margin-bottom: 32px;
} 

.FooterNavigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: flex-start;
  margin-right: 70px;
}

.FooterNavigation__title {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 18px;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.FooterNavigation__list > * {
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.Newsletter {
  color: white;
}

.Newsletter > * {
  margin-bottom: 18px;
}

.Newsleter__paragraph {
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 150%;
}

.Newsletter__input {
  background-color: black;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 150%;
  width: 100%;
  text-align: right;
}

.Newsletter__input::placeholder {
  color: white;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 150%;
}

.Newsletter__icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100%;
  width: 200px;
}

.FooterEnding {
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 40px;
}

.FooterEnding > :nth-child(2) {
  margin: 0 14px 0 18px;
}

.FooterLink {
  text-decoration: underline;
  cursor: pointer;
}
